<div class="content" role="main">
  <h1>{{ title }}</h1>
  <ng-container *ngFor="let catalog of questionsCatalog">
    <div *ngIf="show == true" id="questions-catalog-container">
      <div>
        <button
          *ngIf="catalog.show == false"
          type="button"
          class="btn-stylised"
          (click)="catalog.show = true; show = false"
        >
          {{ catalog.name }}
        </button>
      </div>
    </div>

    <!-- Créer une nouvelle div rend la gestion plus simple en termes de CSS -->
    <div *ngIf="catalog.show == true">
      <app-questions
        (showCatalogEvent)="showCatalog($event)"
        [questions]="questions.securiteRoutiere"
      ></app-questions>
    </div>
  </ng-container>

  <router-outlet></router-outlet>
</div>
